html,
body,
#root {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1400px;
  color: white;
  background-color: #002349;
  font-family: "Oswald", sans-serif;
}
p {
  text-align: justify;
  font-size: 20px;
}
label {
  font-size: 20px;
}
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Makes content expand and pushes footer down */
}
.bg-img {
  height: 900px;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  width: 100px;
  margin-top: 30px;
}
.nav-link {
  padding-top: 37px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.nav-link :hover {
  color: #957c3d;
}
.nav-container h3 {
  margin: 0px;
}
.nav-container span {
  color: #957c3d;
}
.header {
  background-image: url("../images/book.jpg");
  background-size: cover;
  height: 900px;
  color: white;
}
.h-bg {
  background-color: rgba(149, 124, 61, 0.3);
}
.h-bg h1 {
  font-size: 70px;
  padding: 10px 30px;
}
.header span {
  color: #002349;
}
.first-paragraph {
  font-size: 35px;
  padding-left: 40px;
  color: #002349;
  font-weight: 800;
}
.about-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  font-size: 20px;
}
.about-img {
  height: 400px;
}
.about-container p {
  width: 90%;
}
.article-container {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0px;
}
.article-container article {
  box-shadow: 0px 1px 6px -1px #957c3d;
  margin: 30px;
  padding: 20px;
  width: 500px;
}
.article-title {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}
.span-article {
  color: #957c3d;
}
.team {
  display: flex;
  padding: 70px 0px;
  text-align: center;
}
.team img {
  width: 500px;
  margin-right: 20px;
}
.prof-team h3 {
  font-size: 35px;
}
.module-container {
  text-align: center;
}
.module-container ul {
  list-style: none;
}
.module-container select {
  margin: 50px 15px;
  height: 35px;
  padding: 0px 5px;
}
.module-container ul li {
  padding: 20px;
  margin: 30px 0px;
  box-shadow: 0px 1px 6px -1px #957c3d;
  text-align: center;
  text-transform: uppercase;
}
.module-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #957c3d;
}
button,
select,
input {
  background-color: #957c3d;
  border: none;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
}
input,
textarea {
  background-color: #002349;
  border: 1px solid #957c3d;
}
.puzzle-btn {
  background-color: #002349;
  border: 3px solid #957c3d;
}
.back-btn {
  display: block;
  margin: 20px auto;
}
.back-link {
  text-decoration: none;
}
.icon {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  background-color: #957c3d;
  color: white;
  width: 42px;
  height: 42px;
  padding: 10px;
  border-radius: 5px;
}
.update-icon {
  display: flex;
  justify-content: center;
}
.all-icons {
  text-align: center;
}
textarea {
  width: 50%;
  height: 100px;
}
.student-img {
  margin: 50px auto;
  display: block;
}
.student-container {
  display: block;
  margin: auto;
}
.center-all {
  text-align: center;
  margin: 50px;
}
.center-all p {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid white;
  padding: 35px;
  bottom: 0;
}
.footer h2 {
  font-size: 50px;
  font-style: italic;
  margin-top: 15px;
}
